
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #5F021F;
}

h1, h2, h3, h4 {
    font-family: Georgia, serif;
    color: #5F021F;
    font-weight: bold;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #5F021F;
}

.group {
    clear: both;
    *zoom: 1;
    background-color: #ffffff;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
}

.header {
    padding-top: 50px;
}

.header h1 {
    text-align: center;
}

.header h4 {
    text-align: center;
}

.header-image {
    padding-top: 25px;
}

hr {
    border: none;
    color: #FF0000;
    background-color: #FF0000;
    height: 2px;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

.hyphen li:before {
    content: " - ";
}

.play-icon {
    height:20px;
    width:20px;
}

.download-icon {
    height:20px;
    width:80px;
}

.no-aside {
    width:93%;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5F021F;
}

.no-indent {
    padding-left: 0px;
}

.yes-indent {
    padding-left: 40px;
}

.smaller-text {
    font-size: 80%;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;    
}

.header-subtext {
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
    text-justify: inter-word;
}

p {
    margin: 0;
    color: #5F021F;
}

.extra-space {
    padding-bottom: 70px;
}

.larger-text {
    font-size: 120%;
}